body{
    background-color: blanchedalmond;
  }
  .challenge-grid {
      grid-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
      margin: 2rem 0;
    }
    
    h1 {
      align-items: center;
      justify-content: center;
      border: 6px solid;
      border-style: groove;
      border-color: rgb(217, 116, 116);
      text-shadow: 59px;
      background-color: white;
      letter-spacing: 2px;
      border-radius: 14px;
    }
    
    h1 a img {
      width: 35px;
      height: 35px;
      vertical-align: text-bottom;
    }
    
    main a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      padding: 10px;
      color: rgb(114, 52, 8);
      font-size: 1.25rem;
      text-decoration: none;
      font-weight: bold;
    }
    
    main div {
      position: relative;
      overflow: hidden;
      background-color:rgb(244, 188, 104);
      border: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.15);
      transition: all 0.2s ease-in-out;
      border-radius: 55px;
      border: 2px solid;
    }
    
    main div:hover {
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
      transform: scale(1.05);
    }
    
    main .new {
      position: absolute;
      top: 0.75rem;
      right: -1.75rem;
      width: 6rem;
      color: white;
      font-size: 1rem;
      text-align: center;
      background: red;
      transform: rotate(45deg);
    }
    
    @media screen and (min-width: 768px) {
      .challenge-grid {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    
    @media screen and (min-width: 1024px) {
      .challenge-grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    
    @media screen and (min-width: 1400px) {
      .challenge-grid {
        grid-template-columns: repeat(5, 1fr);
      }
    }